
<div id="list">
	<!-- This class list only shows in desktop. -->
	<h2 class="no-margin skinny-with-border">
		My Classes
		<div class="inline-icon-button">
			<a href="courses/new" title="Add a new class"><span class="icon icon-plus small"></span></a>
		</div>
	</h2>
	<ul>
		<% @courses.each do |course| %>
			<li>
				<a href="<%= edit_course_path(course) %>" title="<%= course.class_name %>"><%= course.course_number %></a>
			</li> 
		<% end %>
	</ul>
</div>
<div id="dashboard-main">
	<div id="today">Today is March 12th, 2014</div>
	<div class="module">
		<h2 title="Listing your upcoming Assignments and Tasks sorted by Due Date and Priority">
			Assignments / Tasks
			<div class="inline-icon-button">
				<a href="assignments/new" title="Add a new assignment"><span class="icon icon-plus small"></span></a>
			</div>
		</h2>
		<div class="inner">
			<ul>
				<% for assignment in @assignments %>
					<li>
						<div class="top">
							<span class="class-number"><%= assignment.course.course_number %></span>
							<span class="assignment-trigger" title="Click to view assignment details">
								<%= assignment.assignment_name %>
							</span>
						</div>
						<div class="bottom">
							Due <%= assignment.date_due.to_formatted_s(:long_ordinal) %>
						</div>
						<div class="assignment-details">
							<div class="details">
								Grade Recieved: <%= assignment.grade_received %>
							</div>
							<div class="details">
								Assignment Details: <br />
								<%= assignment.details %> <br /><br />
								Priority: <%= assignment.priority %>/5
							</div>
							<a href="<%= edit_assignment_path(assignment) %>" title="<%= assignment.assignment_name %>">View/Edit Assignment</a>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="module omega">
		<h2 title="Listing your upcoming Exams and Projects sorted by Due Date and Priority">
			Exams / Projects
			<div class="inline-icon-button">
				<a href="add-exam.html" title="Add a new exam"><span class="icon icon-plus small"></span></a>
			</div>
		</h2>
		<div class="inner">
			<ul>
				<li>
					<div class="top">
						<span class="class-number">CIS 795</span> 
						<span class="exam-trigger" title="Click to view details">
							LISP Exam
						</span>
					</div>
					<div class="bottom">
						When: Today
					</div>
					<div class="exam-details">
						<div class="details">
							Grade Received: N/A
						</div>
						<div class="details">
							Exam/Project Details: <br />
						</div>
						<a href="view-exam.html">View Exam</a>
					</div>
				</li> 
			</ul>
		</div>
	</div>
</div>