
<div id="list">
	<!-- This class list only shows in desktop. -->
	<h2 class="no-margin skinny-with-border">
		My Classes
		<div class="inline-icon-button">
			<a href="courses/new" title="Add a new class"><span class="icon icon-plus small"></span></a>
		</div>
	</h2>
	<ul>
		<% @courses.each do |course| %>
			<li>
				<a href="<%= edit_course_path(course) %>" title="<%= course.class_name %>"><%= course.course_number %></a>
			</li> 
		<% end %>
	</ul>
</div>
<div id="dashboard-main">
	<div id="today">Today is March 12th, 2014</div>
	<div class="module">
		<h2 title="Listing your upcoming Assignments and Tasks sorted by Due Date and Priority">
			Assignments / Tasks
			<div class="inline-icon-button">
				<a href="assignments/new" title="Add a new assignment"><span class="icon icon-plus small"></span></a>
			</div>
		</h2>
		<div class="inner">
			<div class="list-header">
				Upcoming Assignments
			</div>
			
			<% if @assignments != nil && @assignments.count > 0 %>
				<ul class="upcoming">
					<% for assignment in @assignments %>
						<li>
							<div class="top">
								<span class="class-number"><%= assignment.course.course_number %></span>
								<span class="assignment-trigger" title="Click to view assignment details">
									<%= assignment.assignment_name %>
								</span>
							</div>
							<div class="bottom">
								Due <%= assignment.date_due.to_formatted_s(:long_ordinal) %>
							</div>
							<div class="assignment-details">
								<div class="details">
									Grade Recieved: <%= assignment.grade_received %>
								</div>
								<div class="details">
									Assignment Details: <br />
									<%= assignment.details %> <br /><br />
									Priority: <%= assignment.priority %>/5
								</div>
								<a href="<%= edit_assignment_path(assignment) %>" title="<%= assignment.assignment_name %>">View/Edit Assignment</a>
							</div>
						</li>
					<% end %>
				</ul>
			<% else %>
				<p class="notice">You have no assignments yet, click the "+" above to create one!</p>
			<% end %>

			<% if @completed_assignments.count > 0 %>
				<div class="list-header">
					Completed Assignments
				</div>
				<ul class="completed">
					<% for completed_assignment in @completed_assignments %>
						<li>
							<div class="top">
								<span class="class-number"><%= completed_assignment.course.course_number %></span>
								<span class="assignment-trigger" title="Click to view assignment details">
									<%= completed_assignment.assignment_name %>
								</span>
							</div>
							<div class="bottom">
								Grade Received <%= completed_assignment.grade_received %>
							</div>
						</li>
					<% end %>
				</ul>
			<% else %>
				<!-- <p class="notice">You have no completed assignments yet, click the "+" above to create one!</p> -->
			<% end %>
			
		</div>
	</div>
	
	
	
	
	
	<div class="module omega">
		<h2 title="Listing your upcoming Exams and Projects sorted by Due Date and Priority">
			Exams / Projects
			<div class="inline-icon-button">
				<a href="exams/new" title="Add a new exam"><span class="icon icon-plus small"></span></a>
			</div>
		</h2>
		<div class="inner">
			<div class="list-header">
				Upcoming Exams
			</div>
			
			<% if @exams != nil && @exams.count > 0 %>
				<ul class="upcoming">
					<% for exam in @exams %>
						<li>
							<div class="top">
								<span class="class-number"><%= exam.course.course_number %></span>
								<span class="exam-trigger" title="Click to view exam details">
									<%= exam.exam_name %>
								</span>
							</div>
							<div class="bottom">
								Due <%= exam.date_of_exam.to_formatted_s(:long_ordinal) %>
							</div>
							<div class="exam-details">
								<div class="details">
									Grade Recieved: <%= exam.grade_received %>
								</div>
								<div class="details">
									Exam Details: <br />
									<%= exam.details %> <br />
								</div>
								<a href="<%= edit_exam_path(exam) %>" title="<%= exam.exam_name %>">View/Edit Exam</a>
							</div>
						</li>
					<% end %>
				</ul>
			<% else %>
				<p class="notice">You have no exams yet, click the "+" above to create one!</p>
			<% end %>
			
			<% if @completed_exams != nil && @completed_exams.count > 0 %>
				<div class="list-header">
					Completed Exams
				</div>
				<ul class="completed">
					<% for completed_exam in @completed_exam %>
						<li>
							<div class="top">
								<span class="class-number"><%= completed_exam.course.course_number %></span>
								<span class="exam-trigger" title="Click to view exam details">
									<%= completed_exam.exam_name %>
								</span>
							</div>
							<div class="bottom">
								Grade Received <%= completed_exam.grade_received %>
							</div>
						</li>
					<% end %>
				</ul>
			<% else %>
				<!-- <p class="notice">You have no completed exams yet, click the "+" above to create one!</p> -->
			<% end %>
			
	</div>
</div>
