
<div id="layout">
    <div id="header">
        <span id="title"><h1><a class="header" href="home.html">What's Due</a></h1></span>
        <span id="welcome">
            <span class="button teal small"><a href="register.html">Register</a></span>
            <span class="button teal small"><a href="sign-in.html">Sign In</a></span>
        </span>
    </div>
    <div id="clear"></div>
    <div id="main">

        <div class="form-wrapper">
            <h2>Login</h2>
            <% flash.each do |k, v| %>
              <div class="alert"><%= v %></div>
            <% end %>
            <%= form_tag sessions_path do %>
              <div class="field">
                <label>Email</label>
                <%= text_field_tag :email, params[:email] %>
              </div>
              <div class="field">
                <label>Password</label>
                <%= password_field_tag :password %>
              </div>
              <div class="field">
                  <%= submit_tag "Login", :class => "button submit teal large" %>
              </div>
            <% end %>
        </div>

    </div>
</div>