<p id="notice"><%= notice %></p>

<p>
  <strong>Assignment name:</strong>
  <%= @assignment.assignment_name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @assignment.details %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @assignment.priority %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @assignment.created_at.to_formatted_s(:long_ordinal) %>
</p>

<p>
  <strong>Date due:</strong>
  <%= @assignment.date_due.to_formatted_s(:long_ordinal) %>
</p>

<p>
  <strong>Is complete:</strong>
  <%= @assignment.is_complete %>
</p>

<p>
  <strong>Grade received:</strong>
  <%= @assignment.grade_received %>
</p>

<p>
  <strong>Course:</strong>
  <%= 
    @course = Course.find(@assignment.course_id)
    if @course
      @course.class_name
    end
  %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back to Dashboard', '/dashboard' %>
