<%= form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <label>Course</label>
    <select name="select_course">
      <option value="">- Select a Course - </option>
      <% @courses.each do |course| %>
        <option value="<%= course.id %>"><%= course.class_name %></option>
      <% end %>
    </select>
  </div>
    
  <div class="field">
    <%= f.label :exam_name %>
    <%= f.text_field :exam_name %>
  </div>
  <div class="field">
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>
  <div class="field">
    <%= f.label :comments %>
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :date_of_exam %>
    <%= f.datetime_select :date_of_exam %>
  </div>
  <div class="field">
    <%= f.label :is_complete %>
    <%= f.check_box :is_complete %>
  </div>
  <div class="field">
    <%= f.label :grade_received %>
    <%= f.number_field :grade_received %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
